.x6-widget-stencil-group-content > div {
  width: 100% !important;
  height: 100% !important;

  svg {
    position: relative;
  }
}
.rlang-drawer-mask {
  position: absolute !important;
  .ant-drawer-mask {
    position: fixed;
  }
}
